#header {
    background-color:#006600;
}

#header p {
    font-size:1rem;
}

/* Navigation Bar */

nav {
    border-bottom: 1px solid #660000;
}

.navbar-brand {
    width:60%;
}

.nav-link {
    color:#006600 !important;
}

.nav-link:hover {
    text-decoration:none;
    font-weight:bold;
    color: #660000 !important;
}

/* Carousel */

#slides {
    margin-top:2rem;
    margin-bottom:2rem;
}

.carousel-item, .carousel-item a{
    color:#006600 !important;
}

.carousel-item .display-4{
    font-size:2rem;
}

.carousel-item .display-5 {
    font-size:1.5rem;
}

.carousel-item img {
    height:30rem;
    border: 1px solid #660000;
    margin:auto;
    background-image:url("img/moroccan-flower.png") !important;
}

#backArrow, #forwardArrow {
    color: #660000;
    font-size:2rem;
}

/* Cards */
.card-header {
    border: 1px solid #660000;
}

.card-header h3 {
    font-size:1rem;
}

.card-header a {
    color: #006600;
}

.card-header button {
    color: #006600;
}

.card-header button:hover {
    color:white;
    text-decoration:none;
    background-color:#660000;
}

.card-body {
    background-color:#006600;
}

.card-body h3, .card-body .lead {
    font-size: 1rem;
}

.card-body a{
    color:#ffffff;
}

.card-body a:hover {
    text-decoration:none;
    color:#ffffff;
    background-color: #660000;
}

#covidCollapse {
    color:#006600 !important;
}

#covidCollapse a {
    font-weight:normal;
}

/* Contact */
.jumbotron {
    background-color:#006600 !important;
}

#contact {
    padding:30px;
}

#contact .lead {
    font-size:1rem;
}

#email {
    display:inline-block;
}

#email:hover {
    color:#006600;
    background-color:#ffffff;
}

#fb-plugin {
    border: 1px solid #660000;
    background-image:url("img/moroccan-flower.png")
}

.footer-copyright {
    background-color:#006600;
    border-top: 1px solid #660000;
}

@media (min-width: 768px) {
    #carouselIndicators, #slides {
        width:800px;
    }

    .carousel-item img {
        width: auto !important;
        height:45rem;
    }
}