html {
    scroll-behavior: smooth;
}

.section-header {
    font-size: 1.5rem;
    color: #222;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Navigation Bar */

.navbar-brand {
    width: 50%;
}

.nav-link {
    color:#660000;
}

.nav-link:hover {
    text-decoration: none;
    font-weight: bolder;
    color:#660000;
}

/* Carousel */
#slides-bg {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    padding-bottom: 3rem;
 }

 .slides-header {
    font-size:2.1rem !important;
    color: #222;
}

.carousel-item, .carousel-item a{
    color:#006600 !important;
}

.carousel-item .display-5 {
    font-size:1.5rem;
}

.carousel-item img {
    height:30rem;
    margin:auto;
}

#backArrow, #forwardArrow {
    color: #660000;
    font-size:2rem;
}

/* Cards */
#cards {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.card {
    width: 20rem;
    margin-bottom: 2rem;
}



.card-header h3{
    font-size:1.1rem;
}

.card-header button {
    color: #006600;
}

.card-header button:hover {
    color:white;
    text-decoration:none;
    background-color:#660000;
}

.card-body th {
    color: black;
}


.card-body a {
    color: #006600;
}

.card-body a:hover {
    text-decoration: none;
    color: #660000;
    font-weight: bolder !important;
}

#pres-message {
    color: black !important;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

.fa-virus, .fa-quote-right, .fa-handshake, .fa-envelope {
    font-size:2rem;
}

#covidCollapse {
    color:#006600 !important;
}

#covidCollapse a {
    font-weight:normal;
}

#email .btn{
    background-color: #006600;
    color: white !important;
}

#email .btn:hover {
    text-decoration: none;
    background-color: #660000;
}

#email {
    font-weight: bold;
}

#fb-container {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

#fb-plugin {
    margin-bottom: 1rem;
}


footer {
    background-color:#006600;
    font-size: 1rem;
}

/* Contact Page */
#googlemaps {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contactArea {
    position: relative;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 80%;
    z-index: 1;
    border: 1px solid #660000;
    background: #f8f8ff;
}

#contactHeader {
    font-size: 2rem;
    color: #006600;
}

.form-control {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#contactSubmitBtn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #660000;
}

#contactSubmitBtn:hover {
    font-weight: bold;
}


@media (min-width: 768px) {
    
    #carouselIndicators, #slides {
        width: auto;
    }

    .carousel-item img {
        width: auto !important;
        height:45rem;
    }

    #slides {
        padding-bottom: 5rem;
    }

    .slides-header {
        font-size: 3.5rem !important;
    }

    .slides-text {
        font-size: 2rem !important;
    }

    .section-header {
        font-size: 2rem;
        font-weight: bold;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .card {
        margin-bottom: 4rem;
        width: 15rem;
    }

    #fb-header {
        margin-bottom: 3rem;
    }

    #contactArea {
        width: 50%;
        margin-top: 11rem;
        margin-bottom: 11rem;
    }

}

@media (min-width: 992px) {
    
    .nav-item {
        margin-left: 20px;
    }

    #carouselIndicators, #slides {
        width:800px;
    }

    #contactArea {
        width: 30%;
    }
}