html {
	scroll-behavior: smooth;
}

/* General components */

.section-header {
	font-size: 1rem;
	color: white;
}

/* Hide elements until scroll into view */

.hide {
	opacity: 0;
	filter: blur(5px);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
}

#socialsBg .hide {
	transform: translateX(-100%);
}

#socialsBg .show {
	transform: translateX(0);
}

/* Navigation Bar */

#scrolling-banner {
	height: 30px;
	overflow: hidden;
	position: relative;
	background: #232b2b;
	color: whitesmoke;
}

#scrolling-banner p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 30px;
	text-align: center;
	/* Starting position */
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	/* Apply animation to this element */
	-moz-animation: scroll-left 15s linear infinite;
	-webkit-animation: scroll-left 15s linear infinite;
	animation: scroll-left 15s linear infinite;
}

/* Move it (define the animation) */

@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
	}

	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(100%);
	}

	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
		/* Browser bug fix */
		-webkit-transform: translateX(100%);
		/* Browser bug fix */
		transform: translateX(100%);
	}

	100% {
		-moz-transform: translateX(-100%);
		/* Browser bug fix */
		-webkit-transform: translateX(-100%);
		/* Browser bug fix */
		transform: translateX(-100%);
	}
}

/* Hide appna icon on mobile */

#appna-icon {
	display: none;
}

.nav-link {
	color: #232b2b;
	font-weight: 500;
}

.nav-link:hover {
	color: black;
	font-weight: 600;
	border-bottom: 1.5px solid black;
}

#aboutDropdown {
	padding-left: 6px !important;
}

.fa-info {
	margin-right: 5px;
}

.fa-address-book {
	margin-right: 3px;
}

/* Image Slider */

#slides-bg {
	position: relative;
	background-color: #0e1111;
	border-radius: 2px;
	padding-top: 2rem;
	border: 10px solid #232b2b;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

#slides-bg .section-header {
	color: white;
}

.carousel-inner {
	height: 45rem;
}

.carousel-item,
.carousel-item a {
	color: #90ee90;
}

.slides-text {
	font-size: 1rem;
}

.carousel-item img {
	margin: auto;
}

#backArrow,
#forwardArrow {
	color: #90ee90;
	font-size: 2rem;
}

.carousel-control-prev,
.carousel-control-next {
	height: 5rem;
	margin-top: 1rem;
}

.download-btn {
	color: white !important;
	border: 1px solid lightslategrey;
	margin-bottom: 3rem;
}


/* Covid Section */
#covidSection {
	background-color: #00081e;
	padding-bottom: 4rem;
}

#covidGif {
	justify-content: center;
	max-width: 50%;
}

#covidHeader {
	font-size: 1.5rem;
}

.table {
	border-collapse: collapse;
	text-align: center;
	padding: 1rem;
}

.table td {
	border-top: none;
	border-bottom: none;
}

.table th {
	border-top: none;
	border-bottom: none;
}

.table a {
	color: #90ee90;
}

/* Mission */

#mission {
	background-color: black;
	height: 20rem;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

#mission .section-header {
	color: #90ee90;
}

#typedtext {
	font-size: 1.5rem;
}

/* Executive Commitee */
#teamSection {
	background-color: #00081e;
	padding-top: 6rem !important;
	padding-bottom: 6rem !important;
}

#teamSection table {
	display: flex;
	justify-content: center;
}

#teamSection th {
	color: #90ee90;
}

#teamTitle {
	font-size: 1.5rem;
	padding-bottom: 2rem;
}

#handshakeGif {
	max-width: 70%;
}

/* Socials */

#socialsBg {
	background-color: #0e1111;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#socials {
	transition: all 0.4s ease-in-out;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	display: flex;
	justify-content: center;
	padding-bottom: 3rem;
	border-bottom: 2px solid white;
}

.socials-btn {
	background-color: #FAF9F6;
	padding-top: 1rem;
	border: 1px solid #006600;
	color: black;
	border-radius: 10px;
	min-width: 10rem;
	margin: 1rem;
}

.socials-btn:hover {
	background-color: #90ee90 !important;
	cursor: pointer;
	text-decoration: none;
	color: #660000;
}

.socials-text {
	padding-top: 2rem;
}

/* Float animation */

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}

	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);
	}

	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

#fb-icon {
	color: #4267B2;
}

#clinic-icon {
	color: #660000;
}

#national-appna-icon {
	color: #006600;
}

/* Contact Us Form */

#contactBg {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #00081e;
}

#contactForm {
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	background-color: #0B0C0D;
	border: 1px solid grey;
}

#contactForm .form-control {
	display: inline-block;
	border-radius: 10px;
	margin-bottom: 1rem;
}

#inputMessage {
	margin-top: 1rem;
	height: 10rem;
}

#submitBtn {
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
	color: white;
	background-color: #006600;
	text-transform: uppercase;
	font-weight: bold;
	padding: .5rem;
	width: 10rem;
}

#submitBtn:hover {
	background: #4267B2;
}

/* spinner is hidden until submit clicked */

.hidden {
	display: none !important;
}

#contactSubmitMsg {
	padding-bottom: 2rem;
}

#emailInfo {
	font-size: 1rem;
}

footer {
	font-size: .8rem;
	font-weight: 400;
	background-color: #232b2b;
}

/*
    Website is designed for mobile 
    so changes are for larger devices
*/

@media (min-width: 768px) and (min-height: 500px) {
	#appna-icon {
		display: inline;
		margin-right: 1rem;
		padding: 0;
	}

	/* Slow scroll animation for larger screens */
	#scrolling-banner p {
		-moz-animation: scroll-left 30s linear infinite;
		-webkit-animation: scroll-left 30s linear infinite;
		animation: scroll-left 30s linear infinite;
	}

	#map {
		height: 130vh;
		width: 100%;
		position: absolute;
		z-index: 0;
	}

	.section-header {
		margin-bottom: 2rem;
		font-size: 1.5rem;
	}

	.carousel-inner {
		height: 50rem;
	}

	#handshakeGif {
		width: 40%;
	}

	#typedtext {
		font-size: 2rem;
	}

	#contactBg {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	#contactForm {
		padding: 4rem;
		margin-top: 7rem;
	}
}

@media (min-width: 768px) {
	#slides-bg {
		margin-top: 8rem;
		width: 50rem;
		height: 60rem;
	}

	.carousel-control-prev,
	.carousel-control-next {
		height: 5rem;
		margin-top: 11rem;
	}

	.carousel-item img {
		width: auto !important;
		height: 35rem;
	}

	.slides-text {
		font-size: 1.2rem !important;
	}

	#covidSection {
		padding-top: 10rem;
	}

	#covidTable {
		display: flex;
		justify-content: center;
	}

	#covidTable table {
		width: 50%;
	}

	.form-control {
		margin-bottom: 2rem;
	}
}

@media (min-width: 992px) {
	.navbar {
		height: 7rem;
	}

	.nav-item {
		margin-left: 20px;
	}

	.nav-link-name {
		padding-left: .5rem;
	}

	.section-header {
		padding-top: 1rem;
	}

	#covidSection {
		padding-top: 20rem;
	}

	#covidTable table {
		width: 50%;
	}

	#socials {
		margin-top: 10rem;
	}

	.socials-btn {
		margin-left: 3rem;
		margin-right: 3rem;
	}

	#contactForm {
		width: 40rem;
	}
}